body {
  background: linear-gradient(to right,#ff4d00, #ffa500); /*gradient orange/red*/
  color: #fff;

font-family: 'Roboto', inter; /* font */

text-align: center; /* center text horizontally */
margin: 0;
padding-top: 100px; /* moves text down from the top */
}
