body {
  background: linear-gradient(to right, #ff4d00, #ffa500);
  font-family: 'Roboto', Inter, sans-serif;
  text-align: center;
  margin: 0;
  height: 100vh; /* make full screen height */
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical center */
  align-items: center; /* horizontal center */
}

h1 {
  color: #ffffff;
  font-size: 50px;
  margin-bottom: 10px;
}

p {
  color: #ffffff;
  font-size: 20px;
  margin-bottom: 40px;
  max-width: 600px;
}

button {
  background-color: black;
  border: 2px solid orange;
  color: white;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: bold;
  width: 250px;
  height: 60px; /* stretch height a bit */
}

button:hover {
  background-color: orange;
  color: black;
}
